<section class="about-designs">
    <div class="container" style="min-height: 795px;">
        <div class="row text-right" style="min-height: 795px;">
            <div class="col-md-12">
                <h3>
                    التصاميم الحديثة و المطورة و امكانية تحديثها بنفسك
                </h3>
                <p>
                    اذا كنت تعاني من  البحث عن تصاميم جيدة الان يمكنك عمل تصميم تطبيقك و اختيار الوانه بنفسك و مشاهدتها لحظيا مطبقة في تطبيقك
                </p>
            </div>
            <div class="col-md-12 text-center">
                <img src="./../../../../../assets/images/4191053.png" class="img-fluid" />
            </div>                        
        </div>
    </div>
</section>