@import './../../../../../assets/sass/helpers/vars';

.about-header{
    background-image: url('./../../../../../assets/images/Oval3.png');
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: top right;
    height: 750px;
    .about-box{
        h3{
            color: $specialColor;
            margin-bottom: 25px;
            font-weight: bold;
        }

        p{
            text-align: justify;
            font-weight: bold;
            color: #000;
            width: 60%;
            font-size: 17px;
        }

        .img-for-description{
            background-image: url('./../../../../../assets/images/about-header.png');
            height: 450px;
            background-repeat: no-repeat;
            position: relative;
            top: -189px;
            z-index: -1;
        }
    }
}

@media only screen and (max-width: 768px) {
    .about-header{
        background-size: 500px;
    }
}