<header class="about-header">
    <app-nav [navType]="'about'"></app-nav>
    <div class="container">
        <div class="row align-center">
            <div class="col-md-12">
                <div class="about-box text-right">
                    <h3 class="main-title">
                        نبذة عامة عن الشركة و اهدافها
                    </h3>
                    <p>
                        تنبع الفكرة من التماس حاجة المتاجر لتطبيق يساعدهمفي تسويق منتجاتها و الوصول الى عملائها بصفة دائمة و مستمرة بسهولة.
                    </p>
                    <p>
                        كما يسهل على العملاء طلب المنتج و عروض المتاجر المفضلة لديهم بسهولة في ظل طول وقت انشاء برمجات تطبيقية من الصفر.
                    </p>
                    <div class="img-for-description"></div>
                </div>
            </div>
        </div>
    </div>
</header>