.courses-content{
    .col-md-4{
        margin-bottom: 25px;
        font-family: 'din';        

        h5{
            color: #54595e;
            margin-top: 10px;
            font-weight: bold;
        }
    }
}