<header class="pricing-header">
    <app-nav [navType]="'courses'"></app-nav>
    <div class="container">
        <div class="row align-center">
            <div class="col-md-12">
                <div class="course-box text-right">
                    <h3 class="main-title">
                        الباقات
                    </h3>
                    <p>
                        وفرنا لك طريقتين لاستخدام متجاتنا باقل تكلفة ممكنة نسبة الى كل المميزات الموجودة بالمنتج.
                    </p>
                    <div class="img-for-description"></div>
                </div>
            </div>
        </div>
    </div>
</header>