<app-pricing-header></app-pricing-header>

<section class="pricing">
    <div class="title-wrapper text-center">
        <h3 class="section-title" style="position: relative;">
            الاسعار
        </h3>
    </div>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-main">
                <div class="p-table p-table-b">
                    <div class="p-cell p-bold text-right">الباقات الشهرية</div>
                    <div class="p-cell p-package basic">
                        <span>بيسك</span>
                        <span class="small">الباقة الأساسية</span>
                    </div>
                    <div class="p-cell p-package plus">
                        <span>بلس</span>
                        <span class="small">الباقة المتقدمة</span>
                    </div> 
                    <div class="p-cell p-package pro">
                        <span>برو</span>
                        <span class="small">الباقة الاحترافية</span>
                    </div>                                       
                </div>
                <div class="p-table bg-color">
                    <div class="p-cell p-bold text-right">الاشتراك الشهرية</div>
                    <div class="p-cell p-package basic">
                        <span>مجانا</span>
                    </div>
                    <div class="p-cell p-package plus">
                        <span>99 جنية / شهريا</span>
                    </div> 
                    <div class="p-cell p-package pro">
                        <span>299 جنية / شهريا</span>
                    </div>                                       
                </div>                
            </div>
            <div class="p-header">
                التسويق
            </div>
            <div class="table-main">
                <div class="p-table bg-color">
                    <div class="p-cell text-right">كوبونات التخفيض</div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div>
                <div class="p-table">
                    <div class="p-cell text-right">الحملات التسويقية لعملاء المتجر</div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div> 
                <div class="p-table bg-color">
                    <div class="p-cell text-right">الكوبون التسويقي</div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div>                                 
            </div>
            <div class="p-header">
                المميزات الاساسية
            </div>
            <div class="table-main">
                <div class="p-table bg-color">
                    <div class="p-cell text-right">حجز رابط خاص (دومين)</div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div>
                <div class="p-table">
                    <div class="p-cell text-right">الدفع الالكتروني</div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div> 
                <div class="p-table bg-color">
                    <div class="p-cell text-right">دعم العملات</div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div>                                 
            </div> 
            <div class="p-header">
                المميزات المتقدمة
            </div>
            <div class="table-main">
                <div class="p-table bg-color">
                    <div class="p-cell text-right">التقارير المتقدمة</div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div>
                <div class="p-table">
                    <div class="p-cell text-right">تعديل تصميم المتجر</div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div> 
                <div class="p-table bg-color">
                    <div class="p-cell text-right">التحكم بالتصميم بواسطة CSS</div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div class="p-cell">
                        <i class="fas fa-times-circle"></i>
                    </div> 
                    <div class="p-cell">
                        <i class="fas fa-check-circle"></i>
                    </div>                                       
                </div>                                 
            </div>                         
        </div>
    </div>
</section>

<app-footer [footerType]="'about'"></app-footer>