<section class="about-template">
    <div class="container" style="min-height: 700px;">
        <div class="row text-right align-center" style="min-height: 700px;">
            <div class="col-md-12" style="position: relative; top: -80px;">
                <h3>
                    تمتع بالكثير من القوالب الجاهزة لتتناسب مع نشاطك
                </h3>
                <p>
                    توفر لك شركتنا الكثير من القوالب التي تناسب نشاطك تماما لتتمكن فقط من وضع منتجاتك و البدء فورا بالبيع
                </p>
            </div> 
            <div class="col-md-4 text-center">
                <img src="./../../../../../assets/images/portfolio1.png" class="img-fluid" />
            </div>
            <div class="col-md-4 text-center">
                <img src="./../../../../../assets/images/portforlio2.png" class="img-fluid" />
            </div>
            <div class="col-md-4 text-center">
                <img src="./../../../../../assets/images/porforlio3.png" class="img-fluid" />
            </div>                                   
        </div>
    </div>
</section>