<section class="about-tech">
    <div class="container" style="min-height: 795px;">
        <div class="row text-right" style="min-height: 795px;">
            <div class="col-md-12">
                <h3>
                    استخدام احدث التكنولوجيات لبرمجة التطبيقات
                </h3>
                <p>
                    من اهم ما يمز شركتنا هو تقديم فكرة و طفرة جديدة في برمجة التطبيق و ايضا باستخدام اللغات الاساسية لبرمجة التطبيقات Swift - Kotlin
                </p>
            </div>
            <div class="col-md-12 text-center">
                <img src="./../../../../../assets/images/tech.png" class="img-fluid" />
            </div>                        
        </div>
    </div>
</section>