<header class="courses-header">
    <app-nav [navType]="'courses'"></app-nav>
    <div class="container">
        <div class="row align-center">
            <div class="col-md-12">
                <div class="course-box text-right">
                    <h3 class="main-title">
                        الدورات التدريبية
                    </h3>
                    <p>
                        اذا كنت تريد امتلاك متجر الكتروني فلابد لك من التدريب على طريقة ادارة المتاجر الالكترونية و التسويق له و اسس الدعاية الصحية للمتاجر الالكترونية.
                    </p>
                    <h3 class="main-title" style="position: relative; top: 120px;">
                        لذا قمنا بعرض اكثر الدورات التدريبية افادة لاصحاب المتاجر الالكترونية
                    </h3>
                    <div class="img-for-description"></div>
                </div>
            </div>
        </div>
    </div>
</header>