.white-color{
    li{
        a{color: #fff !important;}

        .cta-btn{color: #000 !important;}
    }
}

.black-color{
    li{
        a{color: #000 !important;}
    }
}

@media only screen and (max-width: 987px){
    .cta-btn{
        width: 100%;
        margin-top: 15px;
    }
}