<header class="header">
    <app-nav [navType]="'home'"></app-nav>
    <div class="container">
        <div class="row align-center">
            <div class="col-md-6">
                <div class="cta-box text-center">
                    <h1 class="main-titles"></h1>
                    <p>انطلق الان و وسع نشاطك بسهولة من خلال تطبيقنا</p>
                    <a href="#" class="cta-btn">انشئ متجرك الان</a>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="./../../../../assets/images/header1.png" alt="header" class="img-fluid" style="height: 400px;" />
            </div>
        </div>
    </div>
    <div class="shape"></div>
</header>