<section class="about-features">
    <div class="container" style="min-height: 795px;">
        <div class="row text-right" style="min-height: 795px;">
            <div class="col-md-12">
                <h3>
                    استخدام التطبيق الخاص بنا يوفر لك المال و الوقت و الجهد
                </h3>
                <p>
                   يوجد طريقتين لتنفيذ اي تطبيق هو اما بدء التطبيق من الصفر و تحديد طلباتك به و هو ما يأخذ الوقت و الجهد لتنفيذ المطلوب و اما الانضمام الينا في تطبيق قمنا بمراجعته عشرات المرات لتلافي الاخطاء به و قمنا بتطويره لسنوات لاضافة المميزات به التي التي يمكن لتنفيذها من الصفر يكلف عشر اضعاف ثمن التطبيق الخاص بنا مع عشر اضعاف الوقت لذا فاذا كنت تبحث عن برمجة تطبيق لنشاطك التجاري فنحن الاختيار الامثل
                </p>
            </div>
            <div class="col-md-12 text-center">
                <img src="./../../../../../assets/images/9630.png" class="img-fluid" />
            </div>                        
        </div>
    </div>
</section>