.how-it-works{
    .slider{
        margin-top: 50px;
        .how-box{
            min-height: 245px;
            .image{                
                margin-bottom: 25px;

                img{
                    height: 200px;
                    width: 250px;
                    margin: auto;
                }
            }

            .text{
                font-size: 16px;
                line-height: 1.8;
                color: #000;
                font-weight: bold;
            }
        }
    }
}