$mainColor: #f5a623;
$titleColot: #000;
$specialColor: #60297b;
$textColor: #4a4a4a;
$backColor: #e2e3e4;
$bodyColor: #fefefe;
$fixedElementColor: #454346;
$subTitle: #6f6f6f;
$hoverColor: #00a169;
$titleColor: '';
$contentColor: '';
$navColor: #f8f8f8;
$borderColor: rgba(0,0,0,.125);
$arFont: 'Cairo', sans-serif;
$enFont: 'Roboto', sans-serif;